<div class="row characters">
    <mat-card class="col-xs-12 col-md-6">
        <h2>CHARACTERS</h2>
        <mat-nav-list>
            <a mat-list-item *ngFor="let character of characters" 
              (click)="handleClick(character)"
              [ngClass]="{'active': selectedCharacter === character.name}">
                {{character.name}}
            </a>
        </mat-nav-list>
    </mat-card>

    <mat-card class="col-xs-12 col-md-6">
        <detail [status]="status" [data]="characterData"></detail>
    </mat-card>
</div>