<div class="films">
  <h2>FILMS</h2>
  <div *ngIf="!status.loading && !status.error">
    <div *ngIf="films">
      <mat-card *ngFor="let film of films">
        <mat-card-title matline>{{film.title}}</mat-card-title>
        <mat-card-subtitle matline>Released: {{film.release_date | date: 'fullDate' }}</mat-card-subtitle>
      </mat-card>
    </div>

    <div *ngIf="!films">
      <p>Choose a character to view their film appearances</p>
    </div>
  </div>

  <mat-spinner *ngIf="status.loading"></mat-spinner>
  <mat-card class="error" *ngIf="status.error">
    <mat-card-content>The Force was not with you on that request. Please DO again.</mat-card-content>
    <mat-card-subtitle>There is no try. Do, or do not</mat-card-subtitle>
  </mat-card>
</div>